.promo-banner {
  width: 350px;
  height: 140px;
  border-radius: 20px;
  position: relative;
  margin: 15px auto 0;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.dots-indicator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3px;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s;
}

.dot.active {
  background-color: rgba(255, 255, 255, 1);
}

/* Адаптация */
@media (max-width: 600px) {
  .promo-banner {
    width: 590px;
    height: 243px;
    margin: 15px 5px 0;
  }
}

@media (max-width: 425px) {
  .promo-banner {
    width: 415px;
    height: 166px;
    margin: 15px 5px 0;
  }
}

@media (max-width: 360px) {
  .promo-banner {
    width: 350px;
    height: 140px;
    margin: 15px 5px 0;
  }
}