.categories {
  width: 100%;
  margin: 10px auto 0;
  display: flex;
  justify-content: center;
}

.categories-container {
  display: flex;
  gap: 5px;
  padding: 0 5px;
}

.category-item {
  width: 66px;
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-square {
  width: 66px;
  height: 66px;
  border-radius: 15px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  flex-shrink: 0;
}

.category-square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-name {
  width: 66px;
  height: 12px;
  font-size: 12px;
  text-align: center;
  color: #333;
  font-weight: 500;
  line-height: 1;
  margin-top: 3px;
  flex-shrink: 0;
}


@media (max-width: 600px) {
  .categories-container {
    max-width: 590px;
    gap: 5px;
  }
  
  .category-item {
    width: 114px;
    height: 140px;
    gap: 3px;
  }
  
  .category-square {
    width: 114px;
    height: 114px;
    border-radius: 15px;
  }
  
  .category-name {
    font-size: 14px;
    max-width: 114px;
  }
}


@media (max-width: 425px) {
  .categories-container {
    max-width: 415px;
    gap: 5px;
  }
  
  .category-item {
    width: 79px;
    height: 97px;
    gap: 3px;
  }
  
  .category-square {
    width: 79px;
    height: 79px;
    border-radius: 15px;
  }
  
  .category-name {
    font-size: 12px;
    max-width: 79px;
  }
}


@media (max-width: 360px) {
  .categories-container {
    max-width: 350px;
    gap: 5px;
  }
  
  .category-item {
    width: 66px;
    height: 81px;
  }
  
  .category-square {
    width: 66px;
    height: 66px;
  }
  
  .category-name {
    font-size: 12px;
    max-width: 66px;
  }
}

