.header {
  background-color: #f1f1f1;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  max-width: 1200px;
}

@media (max-width: 600px) {
  .header {
    padding: 15px 0;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 12px 0;
  }
}

@media (max-width: 360px) {
  .header {
    padding: 10px 0;
  }
}