.header {
  background-color: #f1f1f1;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  max-width: 1200px;
}
